# Association Rules Mining
This code will make recommendation based on student exam data using association rules.

In [1]:
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd

In [2]:
data = pd.read_csv("./data_ujian_informatika_10AB_salah.csv")
data.head()

,Baris Data,Soal 1,Soal 2,Soal 3,Soal 4,Soal 5,Soal 6,Soal 7,Soal 8,Soal 9,...,Soal 16,Soal 17,Soal 18,Soal 19,Soal 20,Soal 21,Soal 22,Soal 23,Soal 24,Soal 25
0,Siswa 1,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1,Siswa 2,0,0,0,0,0,0,0,1,1,...,0,1,1,0,0,1,0,0,0,1
2,Siswa 3,0,0,0,0,1,0,1,0,1,...,1,1,1,1,1,1,1,0,1,1
3,Siswa 4,0,0,0,1,1,1,0,0,1,...,0,0,1,0,0,1,1,0,0,1
4,Siswa 5,0,0,0,0,0,1,0,1,1,...,1,0,0,0,0,1,1,0,1,1

In [3]:
data_sliced = data.loc[:, "Soal 1":"Soal 25"]
data_sliced.head()

,Soal 1,Soal 2,Soal 3,Soal 4,Soal 5,Soal 6,Soal 7,Soal 8,Soal 9,Soal 10,...,Soal 16,Soal 17,Soal 18,Soal 19,Soal 20,Soal 21,Soal 22,Soal 23,Soal 24,Soal 25
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,1,0,...,0,1,1,0,0,1,0,0,0,1
2,0,0,0,0,1,0,1,0,1,0,...,1,1,1,1,1,1,1,0,1,1
3,0,0,0,1,1,1,0,0,1,0,...,0,0,1,0,0,1,1,0,0,1
4,0,0,0,0,0,1,0,1,1,0,...,1,0,0,0,0,1,1,0,1,1

In [6]:
df = apriori(data_sliced, min_support = 0.2, use_colnames = True, verbose = 1)
df

Processing 10 combinations | Sampling itemset size 543

E:\work-coding\data-analysis\.venv\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                              itemsets
0    0.25625                              (Soal 2)
1    0.21250                              (Soal 4)
2    0.27500                              (Soal 5)
3    0.27500                              (Soal 6)
4    0.28125                              (Soal 7)
..       ...                                   ...
191  0.20000   (Soal 25, Soal 13, Soal 19, Soal 9)
192  0.26250   (Soal 25, Soal 13, Soal 21, Soal 9)
193  0.23125   (Soal 25, Soal 15, Soal 21, Soal 9)
194  0.23125   (Soal 18, Soal 25, Soal 21, Soal 9)
195  0.20625  (Soal 25, Soal 13, Soal 18, Soal 21)

[196 rows x 2 columns]

In [8]:
df_ar = association_rules(df, metric = "confidence", min_threshold = 0.6, num_itemsets=25)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Soal 2),(Soal 9),0.25625,0.73125,0.20625,0.804878,1.100688,1.0,0.018867,1.377344,0.122995,0.264000,0.273965,0.543465
1,(Soal 2),(Soal 25),0.25625,0.66875,0.21875,0.853659,1.276499,1.0,0.047383,2.263542,0.291236,0.309735,0.558214,0.590381
2,(Soal 5),(Soal 9),0.27500,0.73125,0.21250,0.772727,1.056721,1.0,0.011406,1.182500,0.074037,0.267717,0.154334,0.531663
3,(Soal 5),(Soal 25),0.27500,0.66875,0.20625,0.750000,1.121495,1.0,0.022344,1.325000,0.149425,0.279661,0.245283,0.529206
4,(Soal 6),(Soal 9),0.27500,0.73125,0.20625,0.750000,1.025641,1.0,0.005156,1.075000,0.034483,0.257812,0.069767,0.516026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,"(Soal 25, Soal 13, Soal 18)",(Soal 21),0.28750,0.58750,0.20625,0.717391,1.221092,1.0,0.037344,1.459615,0.254120,0.308411,0.314888,0.534228
289,"(Soal 25, Soal 13, Soal 21)",(Soal 18),0.31250,0.44375,0.20625,0.660000,1.487324,1.0,0.067578,1.636029,0.476584,0.375000,0.388764,0.562394
290,"(Soal 25, Soal 18, Soal 21)",(Soal 13),0.26250,0.70000,0.20625,0.785714,1.122449,1.0,0.022500,1.400000,0.147920,0.272727,0.285714,0.540179
291,"(Soal 18, Soal 13, Soal 21)",(Soal 25),0.24375,0.66875,0.20625,0.846154,1.265277,1.0,0.043242,2.153125,0.277235,0.292035,0.535559,0.577283
292,"(Soal 18, Soal 21)","(Soal 25, Soal 13)",0.30625,0.47500,0.20625,0.673469,1.417830,1.0,0.060781,1.607812,0.424788,0.358696,0.378037,0.553840